html {
    font-family: 'San Francisco', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>div {
    width: 25%;
    padding: 10px;
    background: #333;
    text-align: center;
}

header>div>a {
    color: #FFF;
}

h1 {
    text-align: center;
}